<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login 01</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Mulish&display=swap"
            rel="stylesheet"
        >
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="{% url 'inicio' %}">inicio</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'registro' %}">Registro</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        <div class="background"></div>
        <div class="centering">
            <form class="my-form" method = "POST">
                {% csrf_token %}
                <div class="login-welcome-row">
                    <img
                        class="login-welcome"
                        src="{% static 'img/astronaut.jpg' %}"
                        alt="Astronaut"
                    >
                    <!-- optimize the image in production -->
                    <h1>{{ txt_login }}</h1>
                </div>
                <div class="text-field">
                    <label for="email">Email:</label>
                    {{ form_login.usuario }}
                    {% comment %} <input
                        aria-label="Email"
                        type="email"
                        id="email"
                        name="email"
                        placeholder="Your Email"
                        required
                    > {% endcomment %}
                    <img
                        alt="Email Icon"
                        title="Email Icon"
                        src="{% static 'img/email.svg' %}"
                    >
                </div>
                <div class="text-field">
                    <label for="password">Password:</label>
                    {{ form_login.clave }}
                    {% comment %} <input
                        id="password"
                        type="password"
                        aria-label="Password"
                        name="password"
                        placeholder="Your Password"
                        title="Minimum 6 characters at least 1 Alphabet and 1 Number"
                        pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,}$"
                        required
                    > {% endcomment %}
                    <img
                        alt="Password Icon"
                        title="Password Icon"
                        src="{% static 'img/password.svg' %}"
                    >
                </div>
                <input type="submit" class="my-form__button" value="Login" >
                <div class="my-form__actions">
                    <div class="my-form__row">
                        <span>Did you forget your password?</span>
                        <a href="#" title="Reset Password">Reset Password</a>
                    </div>
                    <div class="my-form__signup">
                        <a href="#" title="Create Account">Create Account</a>
                    </div>
                </div>
            </form>
        </div>
        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>

