<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login 01</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link
            href="https://fonts.googleapis.com/css2?family=Mulish&display=swap"
            rel="stylesheet"
        >
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="{% url 'inicio' %}">inicio</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                </ul>
                <h1>Bienvenido al portal</h1>
              </div>


            </div>
          </nav>

        {% comment %} <div class="background"></div> {% endcomment %}
        <div>
          numero de productos : {{ n_prod }}
        </div> 
        <div class="centering">
          <ul>
            {% for prod in lista_p %}
            <li>
              {{prod.id}} :  
              {{prod.nom_producto}} 
              {{prod.detalle_producto}} 
              $ {{prod.valor}}
              <a href = "detalle_producto/{{prod.id}} ">Ver detalle </a>
            </li>
            {% endfor %}
              </ul>
          {% comment %} <table style="width:100%">
            <thead>
              <tr>
                {% for prod in lista_p %}
                <th class="text-center"> {{prod.nom_producto}} </th>
               {% endfor %}
              </tr>
            </thead>
            <tbody>
              <tr>
                {% for prod in lista_p %}
                <td class="text-center">{{prod.nom_producto}}</td>
               {% endfor %}
              </tr>
            </tbody>
          </table> {% endcomment %}

        </div>
        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>

